Pan.API/obj/
Pan.API/bin/
Pan.Database/bin/
Pan.Database/obj/
Pan.Models/obj/
Pan.Models/bin/
Pan.QuerySchema/obj/
Pan.QuerySchema/bin/
Pan.Repositories/bin/
Pan.Repositories/obj/
Pan.Services/bin/
Pan.Services/obj/
Pan.WebApp/bin/
Pan.WebApp/obj/
Pan.WebApp/wwwroot/dist/
Pan.WebApp/ClientApp/dist/
Pan.WebApp.React/bin/
Pan.WebApp.React/obj/
Pan.WebApp.React/wwwroot/dist/
Pan.WebApp.React/ClientApp/dist/


